# C++ and CMake
build/
bin/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.pdb
*.ilk
*.exp

# Qt
*.user
*.user.*
moc_*.cpp
mocs_compilation.cpp
ui_*.h
qrc_*.cpp
*.qrc.depends
*.pro.user
*.pro.user.*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
